v-ons-toolbar ~ #map{
  margin-top: 45px;
}
.search-bar {
  width: 100%;
  position: fixed;
  display: block;
  margin-top: -45px;
}
.after-search-bar {
  margin-top: -10px;
}

.list-item-container {
  line-height: 1;
  padding: 15px 0px 15px 15px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.name {
  font-weight: 500;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px;
}

.location {
  font-size: 14px;
  opacity: 0.4;
  margin-bottom: 6px;
}

.desc {
  line-height: 1.2;
  font-size: 13px;
}

.addMarker {
  position: fixed;
  z-index: 1000;

  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.autocomplete {
  position: relative;
}

.autocomplete-list {
  position: absolute;
  z-index: 2;
  overflow: auto;
  max-height: 150px;
  margin: 0;

  padding: 0;
  border-radius: 4px;
}

.btn {
  position: relative;
  background: linear-gradient(to right, #A2DB95, #24CCAA);
  width: 60%;

}